<div class="flex flex-col flex-auto w-full" id="view-opportunity">
    <div class="flex flex-col p-3 sm:p-6">
        <!-- Breadcrumbs -->
        <div>
            <div class="hidden sm:flex flex-wrap items-center font-medium">
                <div>
                    <a routerLink="/dashboards/call-bot" class="whitespace-nowrap font-bold">Danh sách Phiếu ghi</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap font-bold text-primary-500">
                    <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Chi tiết phiếu ghi</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col pl-3 pr-3 pb-3 sm:pl-6 sm:pr-6 sm:pb-6">
        <div class="flex flex-col items-start w-full p-8 space-y-8 rounded-2xl shadow bg-card">
            <div class="row w-full">
                <div class="col-md-12 col-12">
                    <div class="heading-title">Thông tin cơ bản</div>
                    <div class="row w-full">
                        <div class="col-3">
                            <div >SĐT</div>
                        </div>
                        <div class="col-3">
                            <div class="font-bold mb-2">

                            </div>

                        </div>
                        <div class="col-3">
                            <div >Trạng thái</div>
                        </div>
                        <div class="col-3">
                            <div class="font-bold mb-2">


                            </div>
                        </div>
                    </div>
                    <div class="row w-full">
                        <div class="col-3">
                            Thời gian gọi
                        </div>
                        <div class="col-3">
                            <div class="font-bold mb-2">


                            </div>
                        </div>
                        <div class="col-3">
                            Thời gian nhấc máy
                        </div>
                        <div class="col-3">
                            <div class="font-bold mb-2">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
